<div class="tapyou-host on">
    <div data-bind="click: expanderClicked" class="expander">TapYou</div>
    <div class="chat-host">
        <div class="row-fluid chat-header">
            Topic: http://localhost:6522/client/index.html
        </div>

        <ul class="users-list">
            <li><b class="status"></b>user 1</li>
            <li><b class="status"></b>user 2</li>
            <li><b class="status"></b>user 3</li>
            <li><b class="status"></b>user 4</li>
        </ul>
        <div class="chat-messages">
            <ul class="inner">
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
                <li>
                    <span class="name">user 1</span>
                    <span class="time pull-right">7:30pm</span>
                    <p class="text">Lorem ipsum tra-ta-ta-ta</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="compose-message">
        <div class="row-fluid">
            <input class="span12" type="text">
        </div>
    </div>
</div>
