<div class="tapyou-host on">
    <div data-bind="click: expanderClicked" class="expander">TapYou</div>
    <div class="chat-host">
        <div class="row-fluid chat-header">
            Topic: http://localhost:6522/client/index.html
        </div>

        <ul class="users-list" data-bind="foreach: users">
            <li><b class="status"></b><span data-bind="text: $data"></span></li>
        </ul>
        <div class="chat-messages">
            <ul class="inner" data-bind="foreach: { data: messages, afterRender: messagesListRendered }">
                <li>
                    <span class="name"data-bind="text: from"></span>
                    <span class="time pull-right" data-bind="text: new Date(when).toLocaleTimeString()"></span>
                    <p class="text" data-bind="text: text"></p>
                </li>
            </ul>
        </div>
    </div>
    <div class="compose-message">
        <div class="row-fluid">
            <input class="span12" type="text" data-bind="value: newMessage, valueUpdate: 'afterkeydown', returnKey: sendMessage, hasfocus: true">
        </div>
    </div>
</div>
